<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lckp.mapper.IAdminUserMapper">
	<select id="login" parameterType="com.lckp.param.AdminUserLoginParam" resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM ADMIN_USER
		WHERE USERNAME = #{username}
		AND PASSWORD = #{password}
		AND VALIDSTATUS = 1
	</select>
	
	<update id="changePassword" parameterType="com.lckp.param.AdminUserChangePasswordParam">
		UPDATE ADMIN_USER
		SET PASSWORD = #{newPassword},
		USERNAME = #{newUsername}
		WHERE USERNAME = #{oldUsername}
		AND PASSWORD = #{oldPassword}
		AND VALIDSTATUS = 1
	</update>
</mapper>
