<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lckp.mapper.IRuleConfigMapper">
	<select id="query" parameterType="com.lckp.param.RuleConfigQueryParam" resultType="com.lckp.model.RuleConfig">
		SELECT RULE_ID, RULE_NAME, RULE_TYPE, RULE_LANGUAGE, REGULAR_TYPE, REGULAR_MATCH, REGULAR_REPLACE, EXECUTE_RULE, EXECUTE_PRIORITY, REMARK, VALIDSTATUS, SHARE_KEY, DOWNLOAD_COUNT, CREATE_TIME, UPDATE_TIME
		FROM RULE_CONFIG
		<where>
			<if test='param.ruleName != null and param.ruleName != ""'>
			AND RULE_NAME like '%${param.ruleName}%'
			</if>
			<if test='param.ruleType != null and param.ruleType != ""'>
			AND RULE_TYPE = #{param.ruleType}
			</if>
			<if test='param.ruleLanguage != null and param.ruleLanguage != ""'>
			AND RULE_LANGUAGE = #{param.ruleLanguage}
			</if>
			<if test='param.regularType != null and param.regularType != ""'>
			AND REGULAR_TYPE = #{param.regularType}
			</if>
			<if test='param.executeRule != null and param.executeRule != ""'>
			AND EXECUTE_RULE = #{param.executeRule}
			</if>
			<if test='param.validstatus == 1 or param.validstatus == 0'>
			AND VALIDSTATUS = #{param.validstatus}
			</if>
			<if test='param.downloadStatus == 1'>
				AND RULE_ID IN
				<foreach collection="param.ruleIdList" item="item" separator="," open="(" close=")">
		    	#{item}
		    	</foreach>
			</if>
			<if test='param.downloadStatus == 0'>
				AND RULE_ID NOT IN
				<foreach collection="param.ruleIdList" item="item" separator="," open="(" close=")">
		    	#{item}
		    	</foreach>
			</if>
		</where>
		ORDER BY UPDATE_TIME DESC
	</select>
	
	<select id="queryRuleNameList" resultType="com.lckp.model.RuleConfig">
		SELECT RULE_ID, RULE_NAME
		FROM RULE_CONFIG
		WHERE VALIDSTATUS = 1
		ORDER BY UPDATE_TIME DESC
	</select>
	
	<insert id="add" parameterType="com.lckp.param.RuleConfigAddParam">
		INSERT INTO RULE_CONFIG
		(RULE_ID, RULE_NAME, RULE_TYPE, RULE_LANGUAGE, REGULAR_TYPE, REGULAR_MATCH, REGULAR_REPLACE, EXECUTE_RULE, EXECUTE_PRIORITY, REMARK, VALIDSTATUS, SHARE_KEY)
		VALUES
		(#{ruleId}, #{ruleName}, #{ruleType}, #{ruleLanguage}, #{regularType}, #{regularMatch}, #{regularReplace}, #{executeRule}, #{executePriority}, #{remark}, #{validstatus}, #{shareKey})
	</insert>
	
	<delete id="delete" parameterType="java.util.List">
		DELETE FROM RULE_CONFIG
		WHERE RULE_ID IN
		<foreach collection="list" item="item" separator="," open="(" close=")">
	    	#{item.ruleId}
	    </foreach>
	    AND VALIDSTATUS = 0
	</delete>
	<delete id="deleteExample" parameterType="java.util.List">
		DELETE FROM RULE_TEST_EXAMPLE
	    WHERE RULE_ID IN
		<foreach collection="list" item="item" separator="," open="(" close=")">
	    	#{item.ruleId}
	    </foreach>
	    AND EXISTS (SELECT 1 FROM RULE_CONFIG WHERE RULE_ID = RULE_TEST_EXAMPLE.RULE_ID AND VALIDSTATUS = 0 LIMIT 1)
	</delete>
	
	<update id="changeValidstatus" parameterType="java.util.List">
		UPDATE RULE_CONFIG
		SET VALIDSTATUS = #{validstatus}
		, UPDATE_TIME = DATETIME()
		WHERE RULE_ID IN
		<foreach collection="list" item="item" separator="," open="(" close=")">
	    	#{item.ruleId}
	    </foreach>
	</update>
	
	<select id="export" parameterType="java.util.List" resultType="com.lckp.param.RuleConfigAddParam">
		SELECT RULE_ID, RULE_NAME, RULE_TYPE, RULE_LANGUAGE, REGULAR_TYPE, REGULAR_MATCH, REGULAR_REPLACE, EXECUTE_RULE, EXECUTE_PRIORITY, REMARK, VALIDSTATUS, SHARE_KEY
		, (SELECT GROUP_CONCAT(EXAMPLE_CONTENT, '\n') FROM RULE_TEST_EXAMPLE WHERE RULE_ID = A.RULE_ID) EXAMPLE_CONTENT
		FROM RULE_CONFIG A
		WHERE RULE_ID IN
		<foreach collection="list" item="item" separator="," open="(" close=")">
	    	#{item.ruleId}
	    </foreach>
	</select>
	
	<insert id="importRuleConfig" parameterType="java.util.List">
		INSERT INTO RULE_CONFIG
			(RULE_NAME, RULE_TYPE, RULE_LANGUAGE, REGULAR_TYPE, REGULAR_MATCH, REGULAR_REPLACE, EXECUTE_RULE, EXECUTE_PRIORITY, REMARK, VALIDSTATUS)
		VALUES
		<foreach collection="list" item="item" separator=",">
	    	(#{item.ruleName}, #{item.ruleType}, #{item.ruleLanguage}, #{item.regularType}, #{item.regularMatch}, #{item.regularReplace}, #{item.executeRule}, #{item.executePriority}, #{item.remark}, #{item.validstatus})
	    </foreach>
		
	</insert>
	
	<select id="queryNoPage" parameterType="java.lang.String" resultType="com.lckp.model.RuleConfig">
		SELECT RULE_ID, RULE_NAME, RULE_TYPE, RULE_LANGUAGE, REGULAR_TYPE, REGULAR_MATCH, REGULAR_REPLACE, EXECUTE_RULE, EXECUTE_PRIORITY, REMARK, VALIDSTATUS, CREATE_TIME, UPDATE_TIME
		FROM RULE_CONFIG
		WHERE REGULAR_TYPE = #{regularType}
		AND VALIDSTATUS = 1
		ORDER BY EXECUTE_PRIORITY
	</select>
	
	<delete id="deleteInvalidOfficialRule">
		DELETE FROM RULE_CONFIG
		WHERE VALIDSTATUS = 0
		AND RULE_TYPE = 'Official'
	</delete>

	<update id="switchOfficialRuleValidstatus">
		UPDATE RULE_CONFIG
		SET VALIDSTATUS = ABS(VALIDSTATUS - 1)
		AND RULE_TYPE = 'Official'
	</update>
	
	<select id="queryByRuleId" parameterType="java.lang.String" resultType="com.lckp.param.RuleConfigEditParam">
		SELECT RULE_ID, RULE_NAME, RULE_TYPE, RULE_LANGUAGE, REGULAR_TYPE, REGULAR_MATCH, REGULAR_REPLACE, EXECUTE_RULE, EXECUTE_PRIORITY, REMARK, VALIDSTATUS, SHARE_KEY
		, (SELECT GROUP_CONCAT(EXAMPLE_CONTENT, '\n') FROM RULE_TEST_EXAMPLE WHERE RULE_ID = #{ruleId}) EXAMPLE_CONTENT
		FROM RULE_CONFIG
		WHERE RULE_ID = #{ruleId}
	</select>
	
	<update id="editRuleConfig" parameterType="com.lckp.param.RuleConfigEditParam">
		UPDATE RULE_CONFIG
		SET RULE_NAME = #{ruleName}
		, RULE_LANGUAGE = #{ruleLanguage}
		, RULE_TYPE = #{ruleType}
		, REGULAR_TYPE = #{regularType} 
		, EXECUTE_RULE = #{executeRule}
		, EXECUTE_PRIORITY = #{executePriority}
		<if test='validstatus != null and validstatus !=""'>
		, VALIDSTATUS = #{validstatus}
		</if>
		, REMARK = #{remark}
		, REGULAR_MATCH = #{regularMatch}
		, REGULAR_REPLACE = #{regularReplace}
		, UPDATE_TIME = DATETIME()
		WHERE RULE_ID = #{ruleId}
		<if test='shareKey != null and shareKey != ""'>
		AND SHARE_KEY = #{shareKey}
		</if>
	</update>
	
	<update id="addDownloadCount" parameterType="java.util.List">
		UPDATE RULE_CONFIG
		SET DOWNLOAD_COUNT = DOWNLOAD_COUNT + 1
		WHERE RULE_ID IN
		<foreach collection="list" item="item" separator="," open="(" close=")">
	    	#{item.ruleId}
	    </foreach>
	</update>
	
	<select id="queryAllDownloadRuleId" resultType="java.lang.String">
		SELECT RULE_ID
		FROM RULE_CONFIG
		WHERE SHARE_KEY = '******'
		AND VALIDSTATUS = 1
	</select>
	
	<select id="queryAllRuleId" resultType="java.lang.String">
		SELECT RULE_ID
		FROM RULE_CONFIG
	</select>
</mapper>
