<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>[[#{PAGE.INDEX.TITLE}]]</title>
	<meta name="keywords" content="layuimini,layui,jproxy">
	<meta name="description" content="JProxy 是 Jackett / Prowlarr 代理，旨在通过正则格式化查询结果标题，使 Sonarr 能够正确识别标题，季，集，语言，以及画质等信息">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" href="images/favicon.ico">
	<link rel="stylesheet" href="lib/layui-v2.6.3/css/layui.css" media="all">
	<link rel="stylesheet" href="css/layuimini.css?v=2.0.4.2" media="all">
	<link rel="stylesheet" href="css/themes/default.css" media="all">
	<link rel="stylesheet" href="lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
	<!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style id="layuimini-bg-color">
	</style>
</head>

<body class="layui-layout-body layuimini-all">
	<div class="layui-layout layui-layout-admin">

		<div class="layui-header header">
			<div class="layui-logo layuimini-logo"></div>

			<div class="layuimini-header-content">
				<a>
					<div class="layuimini-tool"><i th:title="#{PAGE.OUTDENT}" class="fa fa-outdent"
							data-side-fold="1"></i></div>
				</a>

				<!--电脑端头部菜单-->
				<ul
					class="layui-nav layui-layout-left layuimini-header-menu layuimini-menu-header-pc layuimini-pc-show">
				</ul>

				<!--手机端头部菜单-->
				<ul class="layui-nav layui-layout-left layuimini-header-menu layuimini-mobile-show">
					<li class="layui-nav-item">
						<a href="javascript:;"><i class="fa fa-list-ul"></i> [[#{PAGE.CHOOSE_MODULE}]]</a>
						<dl class="layui-nav-child layuimini-menu-header-mobile">
						</dl>
					</li>
				</ul>

				<ul class="layui-nav layui-layout-right" style="margin-right: 12px;">
					<li class="layui-nav-item layuimini-setting">
						<a href="javascript:;"><i class="fa fa-user-o"
								style="font-size: 18px;"></i></a>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;" layuimini-content-href="page/change-password"
									th:data-title="#{PAGE.CHANGE_PASSWORD}" data-icon="fa fa-gears"
									id="changePassword">[[#{PAGE.CHANGE_PASSWORD}]]</a>
							</dd>
							<dd>
								<hr>
							</dd>
							<dd>
								<a href="javascript:;" class="login-out">[[#{PAGE.LOGOUT}]]</a>
							</dd>
						</dl>
					</li>
					<li class="layui-nav-item layuimini-select-bgcolor" lay-unselect>
						<a href="javascript:;" th:data-bgcolor="#{PAGE.COLOR}"><i
								class="layui-icon layui-icon-theme" style="font-size: 20px;"></i></a>
					</li>
					<li class="layui-nav-item" lay-unselect>
						<a href="javascript:;" data-refresh="refresh"><i class="fa fa-refresh" style="font-size: 18px;"></i></a>
					</li>
				</ul>
			</div>
		</div>

		<!--无限极左侧菜单-->
		<div class="layui-side layui-bg-black layuimini-menu-left">
		</div>

		<!--初始化加载层-->
		<div class="layuimini-loader">
			<div class="layuimini-loader-inner"></div>
		</div>

		<!--手机端遮罩层-->
		<div class="layuimini-make"></div>

		<!-- 移动导航 -->
		<div class="layuimini-site-mobile"><i class="layui-icon"></i></div>

		<div class="layui-body">

			<div class="layuimini-tab layui-tab-rollTool layui-tab" lay-filter="layuiminiTab" lay-allowclose="true">
				<ul class="layui-tab-title">
					<li class="layui-this" id="layuiminiHomeTabId" lay-id=""></li>
				</ul>
				<div class="layui-tab-control">
					<li class="layuimini-tab-roll-left layui-icon layui-icon-left"></li>
					<li class="layuimini-tab-roll-right layui-icon layui-icon-right"></li>
					<li class="layui-tab-tool layui-icon layui-icon-down">
						<ul class="layui-nav close-box">
							<li class="layui-nav-item">
								<a href="javascript:;"><span class="layui-nav-more"></span></a>
								<dl class="layui-nav-child">
									<dd><a href="javascript:;"
											layuimini-tab-close="current">[[#{PAGE.CLOSE_CURRENT}]]</a></dd>
									<dd><a href="javascript:;"
											layuimini-tab-close="other">[[#{PAGE.CLOSE_OTHER}]]</a></dd>
									<dd><a href="javascript:;" layuimini-tab-close="all">[[#{PAGE.CLOSE_ALL}]]</a>
									</dd>
								</dl>
							</li>
						</ul>
					</li>
				</div>
				<div class="layui-tab-content">
					<div id="layuiminiHomeTabIframe" class="layui-tab-item layui-show"></div>
				</div>
			</div>
		</div>
		<div class="layui-footer" style="text-align: center;">
			<!-- 底部固定区域 -->
			<a href="https://github.com/LuckyPuppy514/jproxy" target="_blank">2022 ©LuckyPuppy514 <i class="fa fa-github" style="font-size: 22px;"></i></a> <a href="https://github.com/zhongshaofa/layuimini" target="_blank">Powered by Layuimini</a>
		</div>
	</div>
	<script src="lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
	<script src="js/lay-config.js?v=2.0.0" charset="utf-8"></script>

	<script>
		window.onload = function () {
			if (localStorage.lang == undefined) {
				localStorage.lang = "zh_CN";
			}
			if (!window.location.search.includes("lang=")) {
				window.location.href = "/?lang=" + localStorage.lang;
			}
			
			var READ_ID = '20220804';
			var content = '[[#{PAGE.SYSTEM_NOTICE.CONTENT}]]';
			if(localStorage.READ_ID != READ_ID){
				var html = '<div style="padding:15px 20px; text-align:justify; line-height: 22px;background-color: #2f4056;color: #ffffff">\n' +
                '<div style="font-size: 12px">' + content + '</div>\n' +
                '</div>\n';

				layer.open({
					type: 1,
					title: '[[#{PAGE.SYSTEM_NOTICE}]]'+'<span style="float: right;right: 1px;font-size: 12px;color: #b1b3b9;margin-top: 1px"></span>',
					area: '300px;',
					shade: 0.8,
					id: 'layuimini-notice',
					btn: ['[[#{PAGE.VIEW}]]'],
					btnAlign: 'c',
					moveType: 1,
					content:html,
					success: function (layero) {
						var btn = layero.find('.layui-layer-btn');
						btn.find('.layui-layer-btn0').attr({
							href: 'https://github.com/LuckyPuppy514/jproxy/blob/main/README.zh_CN.md#4-sonarr-%E9%85%8D%E7%BD%AE',
							target: '_blank'
						});
						localStorage.READ_ID = READ_ID;
					}
				});
			}
		};

		layui.use(['layer', 'miniAdmin', 'miniTongji', 'requestUtil'], function () {
			var $ = layui.jquery,
				layer = layui.layer,
				miniAdmin = layui.miniAdmin,
				requestUtil = layui.requestUtil;

			var options = {
				iniUrl: 'page/menu?lang=' + localStorage.lang,    // 初始化接口
				// clearUrl: "api/clear.json", // 缓存清理接口
				urlHashLocation: true,      // 是否打开hash定位
				bgColorDefault: false,      // 主题默认配置
				multiModule: false,          // 是否开启多模块
				menuChildOpen: true,       // 是否默认展开菜单
				loadingTime: 0,             // 初始化加载时间
				pageAnim: true,             // iframe窗口动画
				maxTabNum: 15,              // 最大的tab打开数量
			};
			miniAdmin.render(options);

			$('.login-out').on("click", function () {
				requestUtil.postForm("/adminUser/logout", "", (data) => {
					if (200 == data.code) {
						top.location.href = '/page/login?lang=' + localStorage.lang;
					}
				});
			});
		});

		document.getElementById("changePassword").setAttribute('layuimini-content-href', 'page/change-password?lang=' + localStorage.lang);
	</script>
</body>

</html>