<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>[[#{PAGE.ADD_RULE.TITLE}]]</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/public.css" media="all">
    <link rel="stylesheet" href="../js/lay-module/step-lay/step.css" media="all">
    <style>
        .layui-form-item .layui-input-block {
			width: 360px;
		}
        .wide-input {
            width: 250%;
        }
        .wide-textarea {
            width: 250%;
        }
        .common-tip {
			color: red;
			font-size: 10px;
		}
        .layui-textarea {
            height: 160px;
        }

    </style>
</head>

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">

            <div class="layui-fluid">
                <div class="layui-card">
                    <div class="layui-card-body" style="padding-top: 25px;">
                        <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
                            <div carousel-item>
                                <div>
                                    <form class="layui-form" id="step1Form" lay-filter="step1Form" style="margin: 0 auto;max-width: 39%; padding-top: 25px;">
                                        <div class="layui-form-item">
                                            <label
                                                class="layui-form-label required">[[#{PAGE.RULE_NAME}]]</label>
                                            <div class="layui-input-block">
                                                <input name="ruleName" type="text"
                                                    th:placeholder="#{PAGE.PLEASE_INPUT_RULE_NAME}"
                                                    class="layui-input" lay-verify="required" required />
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">[[#{PAGE.RULE_LANGUAGE}]]</label>
                                            <div class="layui-input-block">
                                                <select name="ruleLanguage" lay-verify="required" lay-search="" th:include="select/rule-language::copy"></select>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">[[#{PAGE.RULE_TYPE}]]</label>
                                            <div class="layui-input-block">
                                                <select lay-verify="required" name="ruleType" lay-search="" th:include="select/rule-type::copy"></select>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">[[#{PAGE.REGULAR_TYPE}]]</label>
                                            <div class="layui-input-block">
                                                <select lay-filter="regularType" lay-verify="required" name="regularType">
                                                    <option value="Search">[[#{PAGE.REGULAR_TYPE.SEARCH}]]
                                                    </option>
                                                    <option value="Result" selected>[[#{PAGE.REGULAR_TYPE.RESULT}]]</option>
                                                </select>
                                                <tip class="common-tip">[[#{PAGE.TIPS.REGULAR_TYPE}]]</tip>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">[[#{PAGE.EXECUTE_RULE}]]</label>
                                            <div class="layui-input-block">
                                                <select lay-verify="required" name="executeRule" id="executeRule" lay-filter="executeRule">
                                                    <option value="Once" selected>[[#{PAGE.EXECUTE_RULE.ONCE}]]
                                                    </option>
                                                    <option value="Always">[[#{PAGE.EXECUTE_RULE.ALWAYS}]]
                                                    </option>
                                                </select>
                                                <tip class="common-tip">[[#{PAGE.TIPS.EXECUTE_RULE}]]</tip>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label
                                                class="layui-form-label required">[[#{PAGE.EXECUTE_PRIORITY}]]</label>
                                            <div class="layui-input-block">
                                                <input name="executePriority" id="executePriority" type="number"
                                                    th:placeholder="#{PAGE.PLEASE_INPUT_EXECUTE_PRIORITY}"
                                                    class="layui-input" lay-verify="required|number" required
                                                    value="2000" />
                                                <tip class="common-tip">[[#{PAGE.TIPS.EXECUTE_PRIORITY}]]</tip>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">[[#{PAGE.VALIDSTATUS}]]</label>
                                            <div class="layui-input-block">
                                                <input name="validstatus" type="checkbox" checked lay-skin="switch"
                                                    th:lay-text="#{PAGE.VALIDSTATUS.VALID_INVALID}">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">[[#{PAGE.REMARK}]]</label>
                                            <div class="layui-input-block">
                                                <textarea name="remark"
                                                    th:placeholder="#{PAGE.PLEASE_INPUT_REMARK}" value=""
                                                    class="layui-textarea"></textarea>
                                            </div>
                                        </div>
                                        <div class="layui-form-item" style="margin-left: 25%;">
                                            <div class="layui-input-block">
                                                <button class="layui-btn" lay-submit lay-filter="formStep1">
                                                    &emsp;[[#{PAGE.NEXT_STEP}]]&emsp;
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div>
                                    <form class="layui-form" style="margin: 0 auto;max-width: 95%; padding-top: 25px;">
                                        <div class="layui-col-md10 layui-col-md-offset1">
                                            <div class="layui-form-item">
                                                <label
                                                    class="layui-form-label required">[[#{PAGE.REGULAR_MATCH}]]</label>
                                                <div class="layui-input-block">
                                                    <input name="regularMatch" type="text"
                                                        th:placeholder="#{PAGE.PLEASE_INPUT_REGULAR_MATCH}"
                                                        class="layui-input wide-input" lay-verify="required" required value="" />
                                                	<tips class="common-tip">[[#{PAGE.TIPS.REGULAR_MATCH}]]</tips>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label
                                                    class="layui-form-label required">[[#{PAGE.REGULAR_REPLACE}]]</label>
                                                <div class="layui-input-block">
                                                    <input name="regularReplace" type="text"
                                                        th:placeholder="#{PAGE.PLEASE_INPUT_REGULAR_REPLACE}"
                                                        class="layui-input wide-input" lay-verify="required" required value="" />
                                                	<tips class="common-tip">[[#{PAGE.TIPS.REGULAR_REPLACE}]]</tips>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">[[#{PAGE.EXAMPLE_CONTENT}]]</label>
                                                <div class="layui-input-block">
                                                    <textarea name="exampleContent"
                                                        th:placeholder="#{PAGE.PLEASE_INPUT_EXAMPLE_CONTENT}"
                                                        value="" class="layui-textarea wide-textarea" required
                                                        lay-verify="required"></textarea>
                                                	<tips class="common-tip">[[#{PAGE.TIPS.EXAMPLE_CONTENT}]]</tips>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">[[#{PAGE.TEST_RESULT}]]</label>
                                                <div class="layui-input-block">
                                                    <textarea id="testResult" name="testResult" value="" class="layui-textarea wide-textarea"
                                                        readonly></textarea>
                                                	<tips class="common-tip">[[#{PAGE.TIPS.TEST_RESULT}]]</tips>
                                                </div>
                                            </div>
                                            <div class="layui-form-item" style="margin-left: 27%;">
                                                <div class="layui-input-block">
                                                    <button type="button"
                                                        class="layui-btn layui-btn-primary pre">[[#{PAGE.LAST_STEP}]]</button>
                                                    <button class="layui-btn" lay-submit
                                                        lay-filter="test">[[#{PAGE.TEST}]]</button>
                                                    <button id="formStep2" class="layui-btn layui-btn-disabled" disabled lay-submit
                                                        lay-filter="formStep2">[[#{PAGE.ADD_CONFIRM}]]</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div>
                                    <div style="text-align: center;margin-top: 90px;">
                                        <i class="layui-icon layui-circle"
                                            style="color: white;font-size:30px;font-weight:bold;background: #52C41A;padding: 20px;line-height: 80px;">&#xe605;</i>
                                        <div style="font-size: 24px;color: #333;font-weight: 500;margin-top: 30px;">
                                            [[#{PAGE.ADD_SUCCESS}]]
                                        </div>
                                    </div>
                                    <div style="text-align: center;margin-top: 50px;">
                                        <button class="layui-btn next">[[#{PAGE.ADD_AGAIN}]]</button>
                                        <button class="layui-btn layui-btn-primary" id="queryRule" href="javascript:;"
                                            layuimini-content-href="" th:data-title="#{PAGE.QUERY}"
                                            data-icon="fa fa-window-maximize">[[#{PAGE.QUERY_RULE}]]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    <script src="../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script src="../js/lay-config.js?v=1.0.4" charset="utf-8"></script>

    <script>

        layui.use(['form', 'step', 'miniTab', 'layer', 'requestUtil'], function () {
            var $ = layui.jquery,
                form = layui.form,
                miniTab = layui.miniTab,
                step = layui.step,
                layer = layui.layer,
                requestUtil = layui.requestUtil;

            document.getElementById("queryRule").setAttribute('layuimini-content-href', 'page/query-rule?lang=' + localStorage.lang);
            miniTab.listen();

            step.render({
                elem: '#stepForm',
                filter: 'stepForm',
                width: '100%',
                stepWidth: '750px',
                height: '1000px',
                stepItems: [{
                    title: '[[#{PAGE.INFO_INPUT}]]'
                }, {
                    title: '[[#{PAGE.TEST}]]'
                }, {
                    title: '[[#{PAGE.FINISH}]]'
                }]
            });

            form.on('select(regularType)', function (data) {
                disabledExcuteRule(data.value);
                return false;
            });
            form.on('select(executeRule)', function (data) {
                if(data.value == 'Once'){
					$('#executePriority').val('2000');
				} else {
					$('#executePriority').val('4000');
				}
                return false;
            });

            form.on('submit(formStep1)', function (data) {
                localStorage.setItem("add-rule", JSON.stringify(data.field));
                step.next('#stepForm');
                return false;
            });

            // 测试事件
            let formStep2 = document.getElementById("formStep2");
            form.on('submit(test)', function (data) {
                let json = JSON.parse(localStorage.getItem("add-rule"));
                json['regularMatch'] = data.field.regularMatch;
                json['regularReplace'] = data.field.regularReplace;
                json['exampleContent'] = data.field.exampleContent;
                localStorage.setItem("add-rule", JSON.stringify(json));
                json['validstatus'] = json['validstatus'] == 'on' ? 1 : 0;

                requestUtil.postForm("/ruleConfig/test", json, (res) => {
                    if(res.code == 200){
                        $('#testResult').val(res.data);
                        formStep2.setAttribute('class', 'layui-btn');
                        formStep2.removeAttribute('disabled'); 
                    } else {
                        layer.msg(res.msg);
                    }
                });
                return false;
            });

            // 新增事件
            form.on('submit(formStep2)', function (data) {
                let json = JSON.parse(localStorage.getItem("add-rule"));
                json['validstatus'] = json['validstatus'] == 'on' ? 1 : 0;
                requestUtil.postForm("/ruleConfig/add", json, (res) => {
                    if(200 == res.code){
                        formStep2.setAttribute('class', 'layui-btn layui-btn-disabled');
                        formStep2.setAttribute('disabled', '');
                        step.next('#stepForm');
                    } else {
                        layer.msg(res.msg);
                    }
                });

                return false;
            });

            // 上一步/下一步事件
            $('.pre').click(function () {
				formStep2.setAttribute('class', 'layui-btn layui-btn-disabled');
                formStep2.setAttribute('disabled', '');
                step.pre('#stepForm');
            });
            $('.next').click(function () {
                step.next('#stepForm');
            });

            // 初始化表单
            if (undefined != localStorage.getItem("add-rule")) {
                var data = JSON.parse(localStorage.getItem("add-rule"));
                form.val('step1Form', data);
                disabledExcuteRule(data.regularType);
            }

            // 当正则类型为：Search 时，只允许执行规则为：Once
            function disabledExcuteRule(regularType) {
                var excuteRule = document.getElementById('executeRule');
                if(regularType == "Search") {
                    excuteRule.setAttribute("disabled", "disabled");
                    $('#executeRule').val("Once");
                } else {
                    excuteRule.removeAttribute("disabled");
                }
                form.render();
            }
        })
    </script>
</body>

</html>