<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>[[#{PAGE.CHANGE_PASSWORD.TITLE}]]</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/public.css" media="all">
    <style>
        .layui-form-item .layui-input-company {
            width: auto;
            padding-right: 10px;
            line-height: 38px;
        }
    </style>
</head>

<body>
    <div class="layuimini-container" style="background-color: #F2F2F2;">
        <div class="layuimini-main">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-md6 layui-col-md-offset3">
                    <div class="layui-card">
                        <div class="layui-card-header">[[#{PAGE.CHANGE_PASSWORD.TITLE}]]</div>
                        <div class="layui-card-body">
                            <div class="layui-form layuimini-form">
                                <div class="layui-form-item">
                                    <label class="layui-form-label required">[[#{PAGE.USERNAME}]]</label>
                                    <div class="layui-input-inline" style="width: 60%;">
                                        <input type="text" name="username" id="username" lay-verify="required"
                                            th:lay-reqtext="#{PAGE.USERNAME_CAN_NOT_BE_NULL}"
                                            th:placeholder="#{PAGE.PLEASE_INPUT_USERNAME}" value=""
                                            class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label required">[[#{PAGE.OLD_PASSWORD}]]</label>
                                    <div class="layui-input-inline" style="width: 60%;">
                                        <input type="password" name="old_password" lay-verify="required"
                                            th:lay-reqtext="#{PAGE.OLD_PASSWORD_CAN_NOT_BE_NULL}"
                                            th:placeholder="#{PAGE.PLEASE_INPUT_OLD_PASSWORD}" value=""
                                            class="layui-input">
                                    </div>
                                </div>
                
                                <div class="layui-form-item">
                                    <label class="layui-form-label required">[[#{PAGE.NEW_PASSWORD}]]</label>
                                    <div class="layui-input-inline" style="width: 60%;">
                                        <input type="password" name="new_password" lay-verify="required"
                                            th:lay-reqtext="#{PAGE.NEW_PASSWORD_CAN_NOT_BE_NULL}"
                                            th:placeholder="#{PAGE.PLEASE_INPUT_NEW_PASSWORD}" value=""
                                            class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label required">[[#{PAGE.NEW_PASSWORD}]]</label>
                                    <div class="layui-input-inline" style="width: 60%;">
                                        <input type="password" name="again_password" lay-verify="required"
                                            th:lay-reqtext="#{PAGE.NEW_PASSWORD_CAN_NOT_BE_NULL}"
                                            th:placeholder="#{PAGE.PLEASE_INPUT_NEW_PASSWORD}" value=""
                                            class="layui-input">
                                    </div>
                                </div>
                
                                <div class="layui-form-item" style="margin-left: 23%; margin-top: 5%;">
                                    <div class="layui-input-block">
                                        <button class="layui-btn layui-btn-normal" lay-submit
                                            lay-filter="saveBtn">[[#{PAGE.SAVE_CONFIRM}]]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
              </div>
            
        </div>
    </div>
    <script src="../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script src="../js/lay-config.js?v=1.0.4" charset="utf-8"></script>
    <script src="../js/md5.js" charset="utf-8"></script>

    <script>
        layui.use(['form', 'layer', 'miniTab', 'requestUtil'], function () {
            var form = layui.form,
                layer = layui.layer,
                miniTab = layui.miniTab,
                requestUtil = layui.requestUtil;

            document.getElementById('username').value = localStorage.username;

            //监听提交
            form.on('submit(saveBtn)', function (data) {
                if (data.field.again_password != data.field.new_password) {
                    layer.msg('[[#{PAGE.NEW_PASSWORD_DO_NOT_MATCH}]]');
                    return false;
                }

                requestUtil.postForm("/adminUser/changePassword",
                    {
                        newUsername: data.field.username,
                        oldPassword: hex_hmac_md5("password", data.field.old_password),
                        newPassword: hex_hmac_md5("password", data.field.new_password)
                    }
                    , (data) => {
                        if (200 == data.code) {
                            requestUtil.postForm("/adminUser/logout", "", (data) => {
                                if (200 == data.code) {
                                    localStorage.removeItem('username');
                                    localStorage.removeItem('password');
                                    top.location.href = '/page/login?lang=' + localStorage.lang;
                                }
                            });
                        } else {
                            layer.alert(data.msg, { title: '[[#{PAGE.CHANGE_FAIL}]]' });
                        }
                    });
                return false;
            });

        });
    </script>
</body>

</html>