<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>[[#{PAGE.QUERY_RULE.TITLE}]]</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="../lib/layui-v2.6.3/css/layui.css" media="all">
	<link rel="stylesheet" href="../css/public.css" media="all">
	<link rel="stylesheet" href="../icon/iconfont.css" media="all">
	<style>
	</style>
</head>

<body>
	<div class="layuimini-container">
		<div class="layuimini-main">
			<button type="button" id="import" hidden></button>
			<fieldset class="table-search-fieldset">
				<legend>[[#{PAGE.SEARCH_INFO}]]</legend>
				<div style="margin: 10px 10px 10px 10px">
					<form class="layui-form layui-form-pane" action="">
						<div class="layui-form-item">
							<div class="layui-inline">
								<label class="layui-form-label" style="width: 130px;">[[#{PAGE.RULE_NAME}]]</label>
								<div class="layui-input-inline" style="width: 200px;">
									<input type="text" name="ruleName" class="layui-input">
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-label" style="width: 130px;">[[#{PAGE.RULE_LANGUAGE}]]</label>
								<div class="layui-input-inline" style="width: 200px;">
									<select lay-filter="ruleLanguage" id="ruleLanguage" name="ruleLanguage"
										lay-search="">
										<option value="" selected>[[#{PAGE.ALL}]]</option>
										<div th:include="select/rule-language::copy"></div>
									</select>
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-label" style="width: 130px;">[[#{PAGE.RULE_TYPE}]]</label>
								<div class="layui-input-inline" style="width: 200px;">
									<select name="ruleType" id="ruleType" lay-search="">
										<option value="" selected>[[#{PAGE.ALL}]]</option>
										<div th:include="select/rule-type::copy"></div>
									</select>
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-label" style="width: 130px;">[[#{PAGE.REMARK}]]</label>
								<div class="layui-input-inline" style="width: 200px;">
									<input type="text" name="remark" class="layui-input">
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-label" style="width: 130px;">[[#{PAGE.REGULAR_TYPE}]]</label>
								<div class="layui-input-inline" style="width: 200px;">
									<select name="regularType">
										<option value="" selected>[[#{PAGE.ALL}]]</option>
										<option value="Search">[[#{PAGE.REGULAR_TYPE.SEARCH}]]
										</option>
										<option value="Result">[[#{PAGE.REGULAR_TYPE.RESULT}]]</option>
									</select>
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-label" style="width: 130px;">[[#{PAGE.EXECUTE_RULE}]]</label>
								<div class="layui-input-inline" style="width: 200px;">
									<select name="executeRule">
										<option value="" selected>[[#{PAGE.ALL}]]</option>
										<option value="Once">[[#{PAGE.EXECUTE_RULE.ONCE}]]
										</option>
										<option value="Always">[[#{PAGE.EXECUTE_RULE.ALWAYS}]]
										</option>
									</select>
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-label" style="width: 130px;">[[#{PAGE.VALIDSTATUS}]]</label>
								<div class="layui-input-inline" style="width: 200px;">
									<select name="validstatus">
										<option value="" selected>[[#{PAGE.ALL}]]</option>
										<option value=1>[[#{PAGE.VALIDSTATUS.VALID}]]
										</option>
										<option value=0>[[#{PAGE.VALIDSTATUS.INVALID}]]</option>
									</select>
								</div>
							</div>
							<div class="layui-inline">
								<button type="submit" class="layui-btn layui-btn-normal" lay-submit
									lay-filter="data-search-btn"><i class="layui-icon"></i>
									[[#{PAGE.SEARCH}]]</button>
							</div>
						</div>
					</form>
				</div>
			</fieldset>

			<script type="text/html" id="toolbarDemo">
				<div class="layui-btn-container">
					<button class="layui-btn layui-btn-sm data-add-btn" lay-event="valid"> [[#{PAGE.SET_AS_VALID}]] </button>
					<button class="layui-btn layui-btn-primary layui-btn-sm data-add-btn" lay-event="invalid"> [[#{PAGE.SET_AS_INVALID}]] </button>
					<button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> [[#{PAGE.DELETE}]] </button>
				</div>
        	</script>
			<table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
			<script type="text/html" id="currentTableBar">
				<a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">[[#{PAGE.EDIT}]]</a>
        	</script>

		</div>
	</div>

	<script src="../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
	<script src="../js/lay-config.js?v=1.0.4" charset="utf-8"></script>

	<script th:inline="javascript">
		let ruleNameTitle = '[[#{PAGE.RULE_NAME}]]'.replaceAll('"', '');
		let ruleLanguageTitle = '[[#{PAGE.RULE_LANGUAGE}]]'.replaceAll('"', '');
		let ruleTypeTitle = '[[#{PAGE.RULE_TYPE}]]'.replaceAll('"', '');
		let regularTypeTitle = '[[#{PAGE.REGULAR_TYPE}]]'.replaceAll('"', '');
		let regularMatchTitle = '[[#{PAGE.REGULAR_MATCH}]]'.replaceAll('"', '');
		let regularReplaceTitle = '[[#{PAGE.REGULAR_REPLACE}]]'.replaceAll('"', '');
		let executeRuleTitle = '[[#{PAGE.EXECUTE_RULE}]]'.replaceAll('"', '');
		let executePriorityTitle = '[[#{PAGE.EXECUTE_PRIORITY}]]'.replaceAll('"', '');
		let remarkTitle = '[[#{PAGE.REMARK}]]'.replaceAll('"', '');
		let validstatusTitle = '[[#{PAGE.VALIDSTATUS}]]'.replaceAll('"', '');
		let createTimeTitle = '[[#{PAGE.CREATE_TIME}]]'.replaceAll('"', '');
		let updateTimeTitle = '[[#{PAGE.UPDATE_TIME}]]'.replaceAll('"', '');
		let operateTitle = '[[#{PAGE.OPERATE}]]'.replaceAll('"', '');
		let shareKeyTitle = '[[#{PAGE.SHARE_KEY}]]'.replaceAll('"', '');

		let exportTitle = '[[#{PAGE.EXPORT}]]'.replaceAll('"', '');
		let importTitle = '[[#{PAGE.IMPORT}]]'.replaceAll('"', '');
		let shareTitle = '[[#{PAGE.SHARE}]]'.replaceAll('"', '');

		let noDataSelected = '[[#{PAGE.NO_DATA_SELECTED}]]'.replaceAll('"', '');

		layui.use(['form', 'table', 'upload', 'requestUtil'], function () {
			var $ = layui.jquery,
				form = layui.form,
				table = layui.table,
				upload = layui.upload,
				requestUtil = layui.requestUtil;

			table.render({
				elem: '#currentTableId',
				url: '/ruleConfig/query',
				toolbar: '#toolbarDemo',
				defaultToolbar: [
					{
						title: shareTitle,
						layEvent: 'share',
						icon: 'iconfont icon-yunshangchuan-'

					},
					{
						title: importTitle,
						layEvent: 'import',
						icon: 'iconfont icon-daoru'
					},
					{
						title: exportTitle,
						layEvent: 'export',
						icon: 'iconfont icon-daochu'
					}, 'filter']
				, request: {
					pageName: 'pageIndex' //页码的参数名称，默认：page
					, limitName: 'pageSize' //每页数据量的参数名，默认：limit
				}
				, parseData: function (res) { //res 即为原始返回的数据
					return {
						"code": res.code == 200 ? 0 : res.code,
						"msg": res.msg,
						"count": res.data.total,
						"data": res.data.list,
					};
				}
				, page: true //开启分页
				, cols: [
					[ //表头
						{ type: "checkbox", width: 50 }
						, { title: '<i class="iconfont icon-caozuo-moshi" style="font-size: 18px; font-weight: bold;"></i>', minWidth: 66, toolbar: '#currentTableBar', align: "center" }
						, {
							title: '<i class="iconfont icon-yunshangchuan" style="font-size: 20px"></i>', width: 65, align: 'center',
							templet: function (res) {
								if (null == res.shareKey || undefined == res.shareKey || res.shareKey.length < 6) {
									return '<i class="layui-icon layui-icon-subtraction" style="color: #BFBFBF;"></i>';

								} else if (res.shareKey == '******') {
									return '<i class="iconfont icon-yunxiazai-" style="color: #43BB0D; font-weight: bold;"></i>';

								} else {
									return '<i class="iconfont icon-yunshangchuan-" style="color: #1296DB; font-weight: bold;"></i>';
								}
							}
						},
						{
							title: '<i class="iconfont icon-kaiguan" style="font-size: 16px; color: #8A8A8A;"></i>', width: 65, align: 'center',
							templet: function (res) {
								if (res.validstatus == '1') {
									return '<i class="iconfont icon-biaoge-qiyong" style="color: #43BB0D;"></i>';
								} else {
									return '<i class="iconfont icon-biaoge-tingyong" style="color: #D81E06; font-size: 16px;"></i>';
								}
							}
						}
						, { field: 'ruleId', title: 'ruleID', minWidth: 280, sort: true, hide: true }
						, { field: 'ruleName', title: ruleNameTitle, width: 150, sort: true }
						, { field: 'ruleLanguage', title: ruleLanguageTitle, width: 125, align: 'center' }
						, { field: 'ruleType', title: ruleTypeTitle, width: 125, align: 'center' }
						, { field: 'regularType', title: regularTypeTitle, width: 125, align: 'center' }
						, { field: 'executeRule', title: executeRuleTitle, width: 125, align: 'center' }
						, { field: 'executePriority', title: executePriorityTitle, width: 150, sort: true, align: 'center' }
						, { field: 'createTime', title: createTimeTitle, width: 160, sort: true }
						, { field: 'updateTime', title: updateTimeTitle, width: 160, sort: true }
						, { field: 'regularMatch', title: regularMatchTitle, width: 500 }
						, { field: 'regularReplace', title: regularReplaceTitle, width: 300 }
						, { field: 'remark', title: remarkTitle, width: 300 }
						, { field: 'ruleId', title: 'ID', minWidth: 280 }
						, { field: 'shareKey', title: shareKeyTitle, width: 280, hide: true }
					]
				],
				limits: [10, 15, 20, 25, 50, 100, 1000],
				limit: 10,
				page: true,
				skin: 'line'
			});

			// 搜索事件
			form.on('submit(data-search-btn)', function (data) {
				table.reload('currentTableId', {
					page: {
						curr: 1
					}
					, where: data.field
				}, 'data');
				return false;
			});

			// toolbar事件
			table.on('toolbar(currentTableFilter)', function (obj) {
				// 导入事件
				if (obj.event === 'import') {
					$('#import').click();
					return false;
				}

				var checkStatus = table.checkStatus('currentTableId'),
					data = checkStatus.data;
				if (undefined == data || data.length == 0) {
					if (obj.event != 'LAYTABLE_COLS')
						layer.msg(noDataSelected);
					return false;
				}

				// 导出事件
				if (obj.event === 'export') {
					let ruleIds = "";
					data.forEach(element => {
						ruleIds = ruleIds + "," + element.ruleId;
					});
					ruleIds = ruleIds.substring(1);
					window.open("/ruleConfig/export?ruleIds=" + ruleIds, "_self");
					return false;
				}

				var params = [];
				var i = 0;
				data.forEach(element => {
					params[i] = {
						"ruleId": element.ruleId,
						"validstatus": element.validstatus
					};
					i++;
				});

				// 删除事件
				if (obj.event === 'delete') {
					layer.confirm('[[#{PAGE.ARE_YOU_SURE}]]'.replaceAll('"', ''), function (index) {
						requestUtil.postJson("/ruleConfig/delete", JSON.stringify(params), (res) => {
							layer.msg(res.msg);
							table.reload('currentTableId', {
								page: {
									curr: 1
								}
								, where: data.field
							}, 'data');
						});
						layer.close(index);
					});
				
				// 分享事件
				} else if (obj.event === 'share') {
					requestUtil.postJson("/ruleMarket/client/share", JSON.stringify(params), (res) => {
						layer.msg(res.msg);
						table.reload('currentTableId', {
							page: {
								curr: 1
							}
							, where: data.field
						}, 'data');
					});
				}

				// 启用/禁用事件
				var validstatus;
				if (obj.event === 'valid') {
					validstatus = 1;

				} else if (obj.event === 'invalid') {
					validstatus = 0;
				}
				if (validstatus != undefined) {
					requestUtil.postJson("/ruleConfig/changeValidstatus?validstatus=" + validstatus, JSON.stringify(params), (res) => {
						layer.msg(res.msg);
						table.reload('currentTableId', {
							page: {
								curr: 1
							}
							, where: data.field
						}, 'data');
					});
					return false;
				}

				return false;
			});

			// 编辑事件
			table.on('tool(currentTableFilter)', function (obj) {
				if (obj.event === 'edit') {
					if (null != obj.data.shareKey && undefined != obj.data.shareKey && obj.data.shareKey == '******') {
						layer.confirm('[[#{PAGE.WARN.EDIT_MARKET_RULE}]]'.replaceAll('"', ''), function (index) {
							edit(obj.data.ruleId);
							layer.close(index);
						});
					} else {
						edit(obj.data.ruleId);
					}
					return false;
				}
			});
			function edit(ruleId) {
				var index = layer.open({
					title: '[[#{PAGE.EDIT_RULE.TITLE}]]'.replaceAll('"', ''),
					type: 2,
					shade: 0.2,
					maxmin: true,
					shadeClose: true,
					area: ['95%', '90%'],
					content: '../page/edit-rule?lang=' + localStorage.lang + '&ruleId=' + ruleId,
				});
				localStorage.setItem('editIndex', index);
				$(window).on("resize", function () {
					layer.full(index);
				});
			}

			// 监听表格复选框选择
			table.on('checkbox(currentTableFilter)', function (obj) {
				// console.log(obj)
			});

			upload.render({
				elem: '#import'
				, url: '/ruleConfig/import?lang=' + localStorage.lang
				, accept: 'file'
				, done: function (res) {
					layer.msg(res.msg);
					table.reload('currentTableId', {
						page: {
							curr: 1
						}
						, where: data.field
					}, 'data');
				}
			});
		});
	</script>

</body>

</html>