<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>[[#{PAGE.RULE_MARKET.TITLE}]]</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="../lib/layui-v2.6.3/css/layui.css" media="all">
	<link rel="stylesheet" href="../css/public.css" media="all">
	<link rel="stylesheet" href="../icon/iconfont.css" media="all">
	<style>
	</style>
</head>

<body>
	<div class="layuimini-container">
		<div class="layuimini-main">
			<button type="button" id="import" hidden></button>
			<fieldset class="table-search-fieldset">
				<legend>[[#{PAGE.SEARCH_INFO}]]</legend>
				<div style="margin: 10px 10px 10px 10px">
					<form class="layui-form layui-form-pane" action="">
						<div class="layui-form-item">
							<div class="layui-inline">
								<label class="layui-form-label"
									style="width: 130px;">[[#{PAGE.RULE_NAME}]]</label>
								<div class="layui-input-inline" style="width: 200px;">
									<input type="text" name="ruleName" class="layui-input">
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-label"
									style="width: 130px;">[[#{PAGE.RULE_LANGUAGE}]]</label>
								<div class="layui-input-inline" style="width: 200px;">
									<select lay-filter="ruleLanguage" id="ruleLanguage" name="ruleLanguage" lay-search="">
										<option value="" selected>[[#{PAGE.ALL}]]</option>
										<div th:include="select/rule-language::copy"></div>
									</select>
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-label"
									style="width: 130px;">[[#{PAGE.RULE_TYPE}]]</label>
								<div class="layui-input-inline" style="width: 200px;">
									<select name="ruleType" id ="ruleType" lay-search="">
										<option value="" selected>[[#{PAGE.ALL}]]</option>
										<div th:include="select/rule-type::copy"></div>
									</select>
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-label"
									style="width: 130px;">[[#{PAGE.REGULAR_TYPE}]]</label>
								<div class="layui-input-inline" style="width: 200px;">
									<select name="regularType">
										<option value="" selected>[[#{PAGE.ALL}]]</option>
										<option value="Search">[[#{PAGE.REGULAR_TYPE.SEARCH}]]
										</option>
										<option value="Result">[[#{PAGE.REGULAR_TYPE.RESULT}]]</option>
									</select>
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-label"
									style="width: 130px;">[[#{PAGE.EXECUTE_RULE}]]</label>
								<div class="layui-input-inline" style="width: 200px;">
									<select name="executeRule">
										<option value="" selected>[[#{PAGE.ALL}]]</option>
										<option value="Once">[[#{PAGE.EXECUTE_RULE.ONCE}]]
										</option>
										<option value="Always">[[#{PAGE.EXECUTE_RULE.ALWAYS}]]
										</option>
									</select>
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-label" style="width: 130px;">[[#{PAGE.DOWNLOAD_STATUS}]]</label>
								<div class="layui-input-inline" style="width: 200px;">
									<select name="downloadStatus">
										<option value="" selected>[[#{PAGE.ALL}]]</option>
										<option value=1>[[#{PAGE.DOWNLOADED}]]
										</option>
										<option value=0>[[#{PAGE.NOT_DOWNLOAD}]]</option>
									</select>
								</div>
							</div>
							<div class="layui-inline" style="width: 230px;"></div>
							<div class="layui-inline">
								<button type="submit" class="layui-btn layui-btn-normal" lay-submit
									lay-filter="data-search-btn"><i class="layui-icon"></i>
									[[#{PAGE.SEARCH}]]</button>
							</div>
						</div>
					</form>
				</div>
			</fieldset>

			<script type="text/html" id="toolbarDemo">
				<div class="layui-btn-container">
				</div>
        	</script>
			<table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
			<script type="text/html" id="currentTableBar">
        	</script>

		</div>
	</div>

	<script src="../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
	<script src="../js/lay-config.js?v=1.0.4" charset="utf-8"></script>

	<script th:inline="javascript">
		let ruleNameTitle = '[[#{PAGE.RULE_NAME}]]'.replaceAll('"', '');
		let ruleLanguageTitle = '[[#{PAGE.RULE_LANGUAGE}]]'.replaceAll('"', '');
		let ruleTypeTitle = '[[#{PAGE.RULE_TYPE}]]'.replaceAll('"', '');
		let regularTypeTitle = '[[#{PAGE.REGULAR_TYPE}]]'.replaceAll('"', '');
		let regularMatchTitle = '[[#{PAGE.REGULAR_MATCH}]]'.replaceAll('"', '');
		let regularReplaceTitle = '[[#{PAGE.REGULAR_REPLACE}]]'.replaceAll('"', '');
		let executeRuleTitle = '[[#{PAGE.EXECUTE_RULE}]]'.replaceAll('"', '');
		let executePriorityTitle = '[[#{PAGE.EXECUTE_PRIORITY}]]'.replaceAll('"', '');
		let remarkTitle = '[[#{PAGE.REMARK}]]'.replaceAll('"', '');
		let validstatusTitle = '[[#{PAGE.VALIDSTATUS}]]'.replaceAll('"', '');
		let createTimeTitle = '[[#{PAGE.CREATE_TIME}]]'.replaceAll('"', '');
		let updateTimeTitle = '[[#{PAGE.UPDATE_TIME}]]'.replaceAll('"', '');
		let operateTitle = '[[#{PAGE.OPERATE}]]'.replaceAll('"', '');
		let shareIdTitle = '[[#{PAGE.SHARE_ID}]]'.replaceAll('"', '');
		let downloadCountTitle = '[[#{PAGE.DOWNLOAD_COUNT}]]'.replaceAll('"', '');
		let downloadStatusTitle = '[[#{PAGE.DOWNLOAD_STATUS}]]'.replaceAll('"', '');

		let downloadTitle = '[[#{PAGE.DOWNLOAD}]]'.replaceAll('"', '');

		let noDataSelected = '[[#{PAGE.NO_DATA_SELECTED}]]'.replaceAll('"', '');

		layui.use(['form', 'table', 'upload', 'requestUtil'], function () {
			var $ = layui.jquery,
				form = layui.form,
				table = layui.table,
				upload = layui.upload,
				requestUtil = layui.requestUtil;

			table.render({
				elem: '#currentTableId',
				url: '/ruleMarket/client/query',
				toolbar: '#toolbarDemo',
				defaultToolbar: [{
					title: downloadTitle,
					layEvent: 'download',
					icon: 'iconfont icon-yunxiazai-'
				}, 'filter']
				, request: {
					pageName: 'pageIndex' //页码的参数名称，默认：page
					, limitName: 'pageSize' //每页数据量的参数名，默认：limit
				}
				, parseData: function (res) { //res 即为原始返回的数据
					return {
						"code": res.code == 200 ? 0 : res.code,
						"msg": res.msg,
						"count": res.data.total,
						"data": res.data.list,
					};
				}
				, page: true //开启分页
				, cols: [
					[ //表头
						{ type: "checkbox", width: 50 }
						, {
							title: '<i class="iconfont icon-yunshangchuan" style="font-size: 18px"></i>', width: 60, align: 'center',
							templet: function (res) {
								if (res.downloadStatus == 0) {
									return '<i class="layui-icon layui-icon-subtraction" style="color: gray"></i>';
									
								} else if (res.downloadStatus == 1) {
									return '<i class="iconfont icon-yunxiazai-" style="color: #43BB0D; font-weight: bold;"></i>';

								} else {
									return '<i class="iconfont icon-yunshangchuan-" style="color: #1296DB; font-weight: bold;"></i>';
								}
							}
						}
						, {
							title: '<i class="iconfont icon-leijicishu" style="font-size: 22px; "></i>', width: 70, align: 'center', sort: true,
							templet: function (res) {
								if (res.downloadCount < 999) {
									return res.downloadCount;
									
								} else if (res.downloadStatus < 10000) {
									return '999<font style="font-size: 10px">+</font>';

								} else if (res.downloadStatus < 100000) {
									return '10k<font style="font-size: 10px">+</font>';

								} else if (res.downloadStatus < 1000000) {
									return '100k<font style="font-size: 10px">+</font>';

								} else {
									return '1m<font style="font-size: 10px">+</font>';
								}
							}
						}
						, { field: 'ruleName', title: ruleNameTitle, width: 150, sort: true }
						, { field: 'ruleLanguage', title: ruleLanguageTitle, width: 125, align: 'center' }
						, { field: 'ruleType', title: ruleTypeTitle, width: 125, align: 'center' }
						, { field: 'regularType', title: regularTypeTitle, width: 125, align: 'center' }
						, { field: 'executeRule', title: executeRuleTitle, width: 125, align: 'center' }
						, { field: 'executePriority', title: executePriorityTitle, width: 150, sort: true, align: 'center' }
						, { field: 'createTime', title: createTimeTitle, width: 160, sort: true }
						, { field: 'updateTime', title: updateTimeTitle, width: 160, sort: true }
						, { field: 'regularMatch', title: regularMatchTitle, width: 500 }
						, { field: 'regularReplace', title: regularReplaceTitle, width: 300 }
						, { field: 'remark', title: remarkTitle, width: 300 }
						, { field: 'ruleId', title: 'ID', minWidth: 280, sort: true }
					]
				],
				limits: [10, 15, 20, 25, 50, 100, 1000],
				limit: 10,
				page: true,
				skin: 'line'
			});

			// 监听搜索操作
			form.on('submit(data-search-btn)', function (data) {
				//执行搜索重载
				table.reload('currentTableId', {
					page: {
						curr: 1
					}
					, where: data.field
				}, 'data');

				return false;
			});

			/**
			 * toolbar监听事件
			 */
			table.on('toolbar(currentTableFilter)', function (obj) {
				var checkStatus = table.checkStatus('currentTableId')
					, data = checkStatus.data;
				if (undefined == data || data.length == 0) {
					if (obj.event != 'LAYTABLE_COLS')
						layer.msg(noDataSelected);
					return false;
				}

				if (obj.event === 'download') {
					let params = [];
					let i = 0;
					try {
						data.forEach(element => {
							if(element.downloadStatus == 0){
								params[i] = {
									"ruleId": element.ruleId
								};
								i++;
							} else {
								throw new Error('[[#{PAGE.INCLUDE_DOWNLOADED_DATA}]]'.replaceAll('"', ''));
							}
						});
					} catch (error) {
						layer.msg(error.message);
						return false;
					}
					requestUtil.postJson("/ruleMarket/client/download", JSON.stringify(params), (res) => {
						layer.msg(res.msg);
						table.reload('currentTableId', {
							page: {
								curr: 1
							}
							, where: data.field
						}, 'data');
					});
				}
				return false;
			});

			//监听表格复选框选择
			table.on('checkbox(currentTableFilter)', function (obj) {
				// console.log(obj)
			});
		});
	</script>

</body>

</html>